<section class="flex flex-col items-center justify-center h-screen flex-1">
  <div class="p-10 md:w-[500px]">
    <h2 class="text-center text-4xl font-bold pb-8">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-5">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-gray-800 w-full" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, placeholder: "************", autocomplete: "new-password", class: "text-gray-800 w-full" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="my-5">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, placeholder: "************", autocomplete: "new-password", class: "text-gray-800 w-full" %>
      </div>

      <div>
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, placeholder: "************", autocomplete: "current-password", class: "text-gray-800 w-full" %>
      </div>

      <div>
        <%= f.submit "Update", class: "w-full text-center text-white font-bold py-3 rounded bg-green-500 hover:bg-green-400 focus:outline-none mt-4 cursor-pointer" %>
      </div>
    <% end %>
    <--
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
    -->
  </div>
</section>
