<section class="flex flex-col items-center justify-center h-screen flex-1">
  <div class="p-10 md:w-[500px]">
    <h2 class="text-center text-4xl font-bold pb-8">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div>
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "text-gray-800 w-full" %>
      </div>

      <div class="mt-5">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-gray-800 w-full" %>
      </div>

      <div class="w-full text-center text-white font-bold py-3 rounded bg-green-500 hover:bg-green-400 focus:outline-none mt-4 cursor-pointer">
        <%= f.submit "Change my password", class: "cursor-pointer" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>
