<div id="<%= dom_id item %>" class="shadow-lg shadow-green-800 mx-auto box-border h-85 w-85 p-4 border-4 >
  <p class="my-5">
    <strong class="block font-mono mb-1 uppercase text-xl">Name:</strong>
    <%= item.title %>
  </p>
  <p class="my-5">
    <strong class="block font-mono mb-1 uppercase text-xl">Description :</strong>
    <%= item.description %>
  </p>
  <p class="my-5">
    <strong class="block font-mono mb-1 uppercase text-xl ">Price :</strong>
    <%= item.price  %>
  </p>
  <img src="<%= item.image_url %>" alt="" class="object-fill h-48 w-96 ">
  <% if action_name != "show" %>
    <%= link_to "Show this item", item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this item', edit_item_path(item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
