<div id="<%= dom_id item %>" class="w-full sm:w-5/6 md:w-2/3 lg:w-5/12 xl:w-1/4 lg:mx-2 sm:my-8 flex flex-col items-center justify-between p-4 my-4 rounded-lg bg-rose-600 sm:bg-cyan-600 md:bg-rose-600 lg:bg-cyan-600 xl:bg-rose-600 2xl:bg-cyan-600">
  <h3 class="mt-4">Name:</h3>
  <p><%= item.title %></p>
  <h3 class="mt-4">Description:</h3>
  <p class="capitalize"><%= item.description %></p>
  <h3 class="mt-4">Price:</h3>
  <p><%= item.price  %></p>
  <%= image_tag item.image_url, class: "my-2 rounded-lg mt-4 shadow-lg max-h-72" %>
  <div class="flex justify-center">
    <% if action_name != "show" %>
      <%= link_to "Show this item", item, class: "btn" %>
      <%= link_to 'Edit this item', edit_item_path(item), class: "btn" %>
      <%= button_to 'Add to cart', cart_items_path, method: :post, params: {item: item}, class: "btn" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>
