<div id="<%= dom_id item %>" class="w-full p-4 sm:rounded-lg flex flex-col bg-rose-600 sm:bg-cyan-600 md:bg-rose-600 lg:bg-cyan-600 xl:bg-rose-600 2xl:bg-cyan-600">

  <h3 class="mt-4">Name:</h3>
  <p><%= item.title %></p>

  <h3 class="mt-4">Description:</h3>
  <p class="capitalize"><%= item.description %></p>

  <h3 class="mt-4">Price:</h3>
  <p><%= item.price  %></p>

  <%= image_tag item.image_url, class: "my-2 rounded-lg mt-4" %>

  <div class="flex justify-evenly">
    <% if action_name != "show" %>
      <%= link_to "Show this item", item, class: "btn" %>
      <%= link_to 'Edit this item', edit_item_path(item), class: "btn" %>
      <hr class="mt-6">
    <% end %>
  </div>

</div>
