<!DOCTYPE html>
<html>
  <head>
    <title>Kittenfest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3/"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>[x-cloak] {display: none;}</style>
  </head>
  <body class="flex flex-col h-screen items-center bg-gray-800 text-gray-100">
    <header class="w-screen">
    <%= render 'layouts/navbar' %>
    </header>
    <%= render 'layouts/flash' %>
    <main class="flex flex-col flex-1 items-center w-screen">
      <%= yield %>
    </main>
    <%= render 'layouts/footer'%>
  </body>
</html>
