<!DOCTYPE html>
<html>
  <head>
    <title>Tailwind7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col flex-1 h-screen w-full items-center">
    <main class="container flex flex-col flex-1 items-center">
      <%= yield %>
    </main>
  </body>
</html>
